.navbar {
    background-color: rgb(204, 2, 2); 
  }

  .navbar .nav-link {
    color: white; 
    font-weight: bold; 
    font-size: 1.2rem; 
  }

  .navbar-brand {
    color: black; 
    font-weight: bold; 
    
  }

#texto_col {
    /* background-color: aqua; */
    padding-left: 40px;
    padding-top: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#imagem-col {
    /*background-color: brown; */
    padding-left: 40px;
    padding-top: 40px;
}

.body-title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: rgb(204, 2, 2);
}

.col-8 {
  /* background-color: aqua; */
}

.col-4 {
  /* background-color: blue; */
}

#imag-col {
  padding-left: 40px;
  padding-top: 40px;
}

#contato {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.0rem;
  font-weight: bold;
  color: rgb(204, 2, 2);
  padding-left: 340px;
  padding-top: 40px;
}
#card-body {
 background-color: rgb(245, 208, 0);
 padding-left: 340px;
  padding-top: 20px;
}

.form-label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

#card-text {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:rgb(245, 208, 0);
}

#burger-text {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#dest-text {
  background-color: rgb(204, 2, 2);
}